@import "tailwindcss";

:root {
  --background: #f6fafd;
  --foreground: #0a1931;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #0070f3;
  --font-dm-sans: var(--font-dm-sans);
  --font-sulphur-point: var(--font-sulphur-point);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #f6fafd;
    --background: #0a1931;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sulphur-point
}

h1 {
  @apply text-5xl;
}

h2, h3, h4, h5, h6 {
  @apply text-2xl;
}

p {
  @apply text-lg font-dm-sans;
}